<div class="d-flex mt-3 mb-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">Content</th>
        <th scope="col">Length</th>
        <th scope="col">Date Added</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of data; let i = index">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{item.author}}</td>
          <td>{{item.content}}</td>
          <td>{{item.length}}</td>
          <td>{{item.dateAdded}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
